* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    background-color: #f9e7d5;
}

.title {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 20px; 
    background-color: rgb(147, 105, 49);
    z-index: 50;
    color: rgb(34, 16, 5);

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 10vw 30vw; 
    grid-template-areas:
        "box1 box2 box3"
        "largebox largebox largebox";
    gap: 1vw; 
    padding: 1vw; 
    background-color: black;
    position: relative;
    margin: 10px;
    margin-top: 100px;
}

.grid-container > .grid-item {
    background-color: #d4a373;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


.grid-container > .box1 { grid-area: box1; }
.grid-container > .box2 { grid-area: box2; }
.grid-container > .box3 { grid-area: box3; }
.grid-container > .largebox { grid-area: largebox; }

.grid-container > .circle {
    width: 8vw;
    height: 8vw;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 2vw;
    left: 2vw;
    z-index: 10;
}

.grid-container > .triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent green transparent;
    border-width: 0 10vw 15vw 10vw;
    position: absolute;
    bottom: 2vw;
    left: 70%;
    z-index: 10;
}


.grid-container > .rectangle {
    width: calc(100% - 2vw);
    height: 3vw; 
    background-color: aqua;
    position: absolute;
    bottom: 1vw;
    left: 1vw;
    z-index: 9;
}

.form{
    margin: 10px;
}